{% extends 'lay_out/layout.html' %}
{% load render_partial %}
{% block title %}تغییر کلمه عبور{% endblock %}
{% block content %}
    <div id="forms_container">
        <div id="form-uii">
            <form id="form">
                <div id="welcome-line-1">تغییر کلمه عبور</div>
                <div id="form-body">
                    <div id="input-area">
                        <div id="input-area">
                            {% for form in change_user_password %}
                                <div class="form-inp">
                                    {% csrf_token %}
                                    {{ form }}
                                    {{ form.errors }}
                                </div>
                            {% endfor %}
                        </div>
                        <div id="submit-button-cvr">
                            <button id="submit-button" type="submit">ثبت</button>
                        </div>
                    </div>
                </div>
                <div id="panel-bottoms">
                    {% render_partial 'user_panel.views.user_panel_mennu_component' %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}