<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.scrollUp.min.js"></script>
<script src="/static/js/price-range.js"></script>
<script src="/static/js/jquery.prettyPhoto.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/lib/sweetalert2/js/sweetalert2.all.min.js"></script>
<script src="/static/lib/swiper/js/swiper-bundle.min.js"></script>
<script src="/static/js/custom.js"></script>

